@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@import "tailwindcss";

@theme {
    --font-sans: var(--sans);
    --font-heading: var(--heading);
    --font-mono: var(--mono);
}

::selection {
    background: #000000;
}

:root {
    --text: #ffffff;
    --text-h: #b0e4cc;
    --bg: #0b1618;
    --border: #34745f;
    --code-bg: #255a4d;
    --accent: #10b981;
    --accent-hover: #24e1a0;
    --accent-bg: rgba(16, 185, 129, 0.1);
    --accent-border: #67887c;
    --social-bg: rgba(11, 22, 24, 0.5);
    --shadow: rgba(0, 0, 0, 0.3) 0 10px 15px -3px, rgba(0, 0, 0, 0.2) 0 4px 6px -2px;

    --sans: "Lexend", "Segoe UI", Roboto, system-ui, sans-serif;
    --heading: "Unbounded", "Segoe UI", Roboto, system-ui, sans-serif;
    --mono: "IBM Plex Mono", Consolas, ui-monospace, monospace;

    font: 18px/145% var(--sans);
    letter-spacing: 0.18px;
    color-scheme: light dark;
    color: var(--text);
    background: var(--bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: 1024px) {
        font-size: 16px;
    }
}
